body {
    font-family: 'Helvetica';
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

header {
    background: darkslategray;
    color: #fff;
    padding: 1.3%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1.3%;
    border-right: 2px solid black;
}

#HOME-HOVER {
    border-left: 2px solid black;
}

nav a:hover {
    background-color: grey;
}

img {
    max-width: 30%;
    border: 4px solid darkslategrey;
    margin: 1%;
}




/* Homepagina CSS */
div {
    display: flex;
    color: white;
    background-color: darkslategray;
    width: max-content;
    padding: 1.5%;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    border: 4px solid white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 4em;
}

section {
    display: flex;
}

section p {
    margin: 3%;
    padding: 2%;
    font-size: 2em;
    background-color: white;
    border: 4px solid darkslategrey;
    font-weight: bold;
}



/* Projecten pagina CSS */
.projects-grid {
    display: grid;
    gap: 2%;
    
    padding: 2%;
}

.card {
    background-color: white;
    border: 4px solid darkslategrey;
    text-align: center;
    padding-bottom: 3%;
}

article img {
    max-width: unset;
    max-width: 80%;
}

.card h2 {
    margin: 2%;
    text-transform: uppercase;
}

.card p {
    font-size: 1.5em;
}

article a {
    margin: 3%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1.3%;
    border: 2px solid black;
    background: darkslategray;
}

article a:hover {
    background-color: grey;
}



/* Contact pagina CSS */
.contact-card {
    display: block;
    background-color: white;
    border: 4px solid darkslategrey;
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-card h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contact-card ul {
    list-style: none;
    padding: 1%;
}

.contact-card li {
    margin: 0.8rem 0;
    padding: 4%;
}

.contact-card a {
    text-decoration: none;
    color: white;
    padding: 3%;
}

.contact-card a:hover {
    text-decoration: underline;
    background-color: grey;
}